<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="../public/stylesheets/style.css">
</head>
<body>
    <h1>About Iliza Shlesinger</h1>
    <p>
        Iliza Vie Shlesinger, born February 22, 1983, is an American comedian, actress, television host, executive producer, and screenwriter. She was the 2008 winner of NBC's Last Comic Standing and went on to host the syndicated dating show Excused and the TBS game show Separation Anxiety. In 2017, Shlesinger hosted her own late-night talk show called Truth & Iliza on Freeform. As of 2022, she has released six comedy specials on Netflix. Her sketch comedy show The Iliza Shlesinger Sketch Show premiered on Netflix in April 2020.
    </p>
</body>
</html>