<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<h>, initial-scale=1.0">
    <title>Photo gallery</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito">
</head>
<body>

    <h1 class="page-title">Photo gallery</h1>
    <div id="photos">
        <img src="/images/iliza1.jpg" alt="Iliza Shlesinger">
        <img src="/images/iliza2.jpg" alt="Iliza Shlesinger">
        <img src="/images/iliza3.jpg" alt="Iliza Shlesinger">
    </div>
</body>
</html>