<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Works</title>
    <link rel="stylesheet" href="../public/stylesheets/style.css">
</head>
<body>
    <h1>Works</h1>
    <h2>Comedy specials</h2>
    <ul>
        <li>War Paint</li>
        <li>Freezing Hot</li>
        <li>Confirmed Kills</li>
        <li>Elder Millennial</li>
        <li>Unveiled</li>
        <li>Hot Forever</li>
    </ul>
    <h2>Series</h2>
    <ul>
        <li>Forever 31</li>
        <li>Girlboss</li>
        <li>The Iliza Shlesinger Sketch Show</li>
        <li>Crank Yankers</li>
        <li>Robot Chicken</li>
        <li>Bosch</li>
        <li>Dollface</li>
    </ul>
    <h2>Films</h2>
    <ul>
        <li>Paradise</li>
        <li>Instant Family</li>
        <li>Iliza Shlesinger: Over And Over</li>
        <li>Spenser Confidential</li>
        <li>Pieces of a Woman</li>
        <li>The Right One</li>
        <li>Hysterical</li>
        <li>Good on Paper</li>
        <li>Supercool</li>
    </ul>
</body>
</html>